* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color: #111111;
}

.container {
    border-radius: 10px;
    max-width: 992px;
    height: 100vh;
    padding: 10px;
    margin: 10px auto;
    background-color: #e5e5e5;
}

.video {
    margin-bottom: 10px;
    width: 100%;
}

video::-webkit-media-controls-play-button, video::-webkit-media-controls-fullscreen-button {
    cursor: pointer;
}

video::-webkit-media-controls-panel {
    background-color: #CCCCCC;
    color: #111111;
}

.input {
    width: 90%;
    padding: 15px;
    background-color: #FFFFFF;
    color: #111111;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline-color: #CCCCCC;
    border: none;
    font-size: 14px;
}

.button {
    outline-color: #CCCCCC;
    font-size: 14px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color: #CCCCCC;
    width: 10%;
    color:  #111111;
    padding: 15px;
    cursor: pointer;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.themeChange {
    border: 0;
    outline: none;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    background-color: #CCCCCC;
    border-radius: 50%;
    text-decoration: none;
    color: #111111;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.icon {
    background: url('icon_light_theme.svg') no-repeat;
    display: block;
    width: 40px;
    height: 40px;
}